
    body {
    font-family: 'Basiic', sans-serif;
    margin: 0;
    background-color: #FFFFFF;
    background-size: 65px;
    cursor: url(cursor.cur), auto;
    background-image: url(https://oceanfront.neocities.org/photos/webfiles/Background02.gif);
    }
    
    .mainbox {
    background-color: #FFFFFF;
    border: 1.5px dashed #A2D5F8;
    width: 900px;
    height: 700px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 20px;
    margin-top: 40px;
    margin-bottom: 50px;
   }

   /*****************  ****************/
   /*****************  ****************/

   .boxxybox {
    height:222px;
    width:222px;
    background-image: url(https://i.ibb.co/5gfVkNsv/image-1.png);
   }

    .profilepic {
    background-color: #ffffff;
    border-width:8px;
    border-style:solid;
    border-image: url("https://dl.dropbox.com/s/v8iy6a8feyq041p/blue%20ver.png") 8 fill round;                         
    box-shadow: inset #b0e0f4 0 0 5px;
    width: 14rem;
    align-items: center;
    height: 14rem;
    margin-top: -365px;
    margin-left: 20px;
    line-height: 2;
    color:#81afc8;
   }

     #floatingchat {
    z-index: 100;
    margin-top: -220px;
    margin-right:-10px;
    animation-name: hover;
    animation-duration: 10s;
    animation-iteration-count: infinite;
  }

      .aboutmetext {
    border: 2px dotted #A2D5F8;
    width:235px;
    height:330px;
    margin-left: 20px;
    margin-top:-170px;
    background-image: url(https://i.pinimg.com/736x/94/3b/c8/943bc8a3b800bf5b2a667ba24e75c265.jpg);
    background-size: cover;
    overflow:auto;

    }

    .blingbox {
    border: 1px solid #A2D5F8;
    width:110px;
    height:44px;
    margin-left:640px;
    margin-top:-265px;
    overflow:hidden;
    
    }

    .lastfm {
     border: 1px solid #A2D5F8;
    width:325px;
    height:195px;
    margin-left:540px;
    margin-top:80px;
    }

    /*****************  ****************/
    /*****************  ****************/
  
[id^="grid-"] {
    max-width: 324px;
    margin-left:540px;
    border: 2px dashed #b0e0f4;
    
}

.imagecard {
    width: 50px;
    height: 90px;
    overflow: hidden;
    position: relative;
    flex: 0 0 100px;
    filter: sepia(80%) hue-rotate(180deg) grayscale(0%) brightness(100%);
}

 .imagecard:hover {
    -webkit-filter: none !important;
    filter: none !important;
}


.imagegrid {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-top: 16px;
}


.imageinfobottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 7px;
  background-color: #7baed0aa;
  color: #ffffff;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.1s ease, visibility 1s;
}

.imagecard:hover .imageinfobottom {
  opacity: 1;
  visibility: visible;
}

.column {
  float: left;
  width: 20%;
}


    /*****************  ****************/
    /*****************  ****************/


  @keyframes hover {
    0%, 100% {
      transform: translateY(-10px) rotate(5deg);
  }
  50% {
    transform: translateY(10px) rotate(3deg);
  }
  }

    /*****************  ****************/
    /*****************  ****************/
    p {
    color: #337aa0;
    letter-spacing: 0.3px;
    font-size: 14px;
    line-height: 1.5;
    padding: 3px;
    margin-right: 15px;
    margin-top: 20px;
    }

    td {
    color: #337aa0;
    letter-spacing: 0.3px;
    font-size: 14px;
    line-height: 1.5;
    padding: 3px;
    margin-right: 15px;
    margin-top: 20px;
    }



    /*****************  ****************/
    /*****************  ****************/
