

    body {
    background-color: rgb(243, 249, 255);
    display:flex;
    background-image: url(https://i.pinimg.com/736x/d0/e6/c8/d0e6c8b0e3972a03c61c8733543eac6b.jpg);
    background-size:cover;
    }

     * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
    }

    /*** i took some inspiration from https://kkul.store/media, kkul's media page for the sidebar. thank you~ **/
    .sidebar {
    z-index: 10000;
    width: 200px;
    height: 100%;
    background-color: rgb(245, 252, 255);
    background-image: url(https://i.pinimg.com/736x/31/00/27/3100279e5915b56708d2eae47b70d42a.jpg);
    box-shadow: 5px 0 15px rgba(6, 13, 18, 0.09);
    border: 25px solid #fff;
    border-image-outset: 5px;
    border-top: 0px;
    border-bottom: 0px;
    border-left: 0px;
    text-align: center;
    position: fixed;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

    .main {
    width: 72%;
    height: 100vh;
    background-color: #cbf2ff;
    border: 3px solid #fff;
    border-top: 0px;
    border-bottom: 0px;
    margin-left:300px;
    overflow-x: hidden;
    }

    .innersidebar {
    width:200px;
    height: 100%;
    overflow:scroll;
    padding:15px;
    position:fixed;
    background-color:#f4feff;
    }

    .innerinnersidebar {
    width:150px;
    height:100%;
    margin-left:7px;
    }

    .textblock {
    width:725px;
    position:fixed;
    height:100%;
    margin-left:260px;
    padding:20px;
    background-color:#f4feff;
    background: linear-gradient(180deg,rgb(248, 254, 255) 0%, rgba(219, 246, 255, 1) 150%);
    }

    #time {
    color:#94d2e9;
    font-family: 'Times New Roman', Times, serif;
    }

    input::before {
      content: "";
      width: 0.35em;
      height: 0.35em;
      transform: scale(0);
      transition: 120ms transform ease-in-out;
      box-shadow: inset 1em 1em var(--black);
    }

    input:checked::before {
      transform: scale(1);
    }

    


 /*********************** TEXT ***********************/

    ::selection{
    background-color: rgba(144, 220, 228);
    opacity: 50%;
    color: white;
    }

    ul {
    margin-top: 0px;
    list-style-type: none;
    padding: 10px;
    margin-bottom: 0px;
    overflow-y: scroll;
    }

    li {
    color: rgb(52, 141, 189);
    font-family: zen maru gothic;
    font-size: 14px;
    border-bottom: 1px dashed #31729e;
    margin-bottom: 15px;
    font-weight: 600;
    }

    hr {
    border: 0.5px solid #6eb2dd;
    }
    /*
    ::-webkit-scrollbar {
    width: 4px;
    }    
          
    ::-webkit-scrollbar-thumb {
    background: rgb(158, 210, 253);
    background: linear-gradient(0deg, rgb(144, 198, 242) 0%, rgb(241, 212, 206) 100%);
    }
    
    ::-webkit-scrollbar-thumb:hover {
    background: #94c7e9;
    }
    */

            /*SCROLLBAR*/
::-webkit-scrollbar{
  width: 10px;
}

::-webkit-scrollbar-thumb{
  background: linear-gradient(0deg, rgb(194, 227, 255) 0%, rgb(251, 235, 233) 100%);
  border-radius: px;
  border: 2px solid #9fc4dc99;
  
}
::-webkit-scrollbar-thumb:hover{
  background: #9dcdeb99;
}

    a:link {
        color: #1f5d8c;
    }
  
    a:visited {
        color: #1f5d8c;
    }

    a:hover{
        font-style: italic;
        color: rgb(162, 224, 231);
    }
    
    p{
        letter-spacing: -0.2px;
        font-family:'';
        color:#31729e;
        font-family: 'zen maru gothic';
        font-weight: 500;
        font-size: 14px;
        display: inline;
        text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff, 0 0;
    }

    h1{
    font-family: 'romance';
    color:#94d2e9;
    }
  
/*********************** FONTS ***********************/

    @font-face {
        src: url("fonts/MSGothic.ttf"); 
         format:("truetype");
        font-family: "MSGothic";
        }
      
        @font-face {
            src: url("fonts/BlueScreen.ttf"); 
             format:("truetype");
            font-family: "bluescreen";
            }

                @font-face {
                    src: url("fonts/PatrickHand-Regular.ttf"); 
                     format:("truetype");
                    font-family: "patrickhand";
                    }
                
                @font-face {
                    src: url("fonts/RomanceA.ttf"); 
                     format:("truetype");
                    font-family: "romance";
                    }

            