
.mainbox {
    background-color: rgb(255, 252, 241);
    border-width:15px;
border-style:solid;
border-image: url("https://dl.dropbox.com/s/v8iy6a8feyq041p/blue%20ver.png") 8  round;
    width: 870px;
    height: 595px;
    margin-right: auto;
    margin-left: auto;
    margin-top: -300px;
    z-index: 100;
    border-radius: 25px;
}



body {
    background-image: url(https://i.ibb.co/SvJXCpp/Untitled-Artwork-10.png);
    background-repeat:no-repeat;
    background-size: cover;
}

.sqs-block-image {
    -webkit-filter: grayscale(100%);
    filter:sepia(90%) hue-rotate(180deg) grayscale(0%) brightness(90%);
}
   
   .sqs-block-image:hover {
    -webkit-filter: none !important;
    filter: none !important;}

    @font-face{
        font-family:frog; 
        src:url(https://dl.dropbox.com/s/t8282fp2qyur29y/TROGLOP_.ttf);
          }

          @font-face{
            font-family:adelia; 
            src:url(ADELIA.otf);
              }

p {
    font-family: frog;
    font-size: 12px;
    margin: auto;
    text-align: center;
    color:  rgb(67, 106, 142);
}

h1 {
    font-family:adelia; 
    font-size: 80px;
    letter-spacing: 5;
    color:#e2f5ff;
    text-shadow: rgb(81, 140, 173) 1px 10px 20px;
}